[report]
omit =
    /home/travis/buildout-cache/eggs/*
    lib/*
    src/collective/solr/tests/*
    /home/*/.buildout/eggs/*
    /usr/*
    bin/test
    eggs/*
    parts/*
    buildout/*
    docs/*
    etc/*
