bin
build
develop-eggs
dist
downloads
eggs
extras/*
include
lib
lib64
parts
htmlcov
var
*.egg-info
*.py[co]
*.mo
*.*~
.*.cfg
.Python
pyvenv.cfg
pip-selfcheck.json
.idea
docs/Makefile
docs/make.bat
!src/collective/solr/static/dist
src/collective/solr/static/node_modules
.coverage
.vscode/
local/
share/
