[buildout]
index = https://pypi.org/simple
extensions = mr.developer
parts +=
    instance
    solr
    omelette
    test
    test-robot
    coverage
    test-coverage
    code-analysis
    releaser
    sphinxbuilder
    check-readme
develop = .

auto-checkout = kitconcept.recipe.solr

[sources]
plone.restapi = git https://github.com/plone/plone.restapi.git
kitconcept.recipe.solr = git https://github.com/kitconcept/kitconcept.recipe.solr.git pushurl=git@github.com:kitconcept/kitconcept.recipe.solr.git branch=master

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    plone.app.debugtoolbar
    collective.solr [test]
    plone.restapi
environment-vars =
    zope_i18n_compile_mo_files true

# [solr-ftw]
# recipe = ftw.recipe.solr
# cores = plone
# url = http://archive.apache.org/dist/lucene/solr/7.3.0/solr-7.3.0.tgz
# md5sum = dfb6893fc656e14919df48ff654d38f2
# conf = config

[solr]
recipe = kitconcept.recipe.solr
src = http://archive.apache.org/dist/lucene/solr/7.3.0/solr-7.3.0.tgz
solr-config = src/kitconcept.recipe.solr/config

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'collective.solr', '--auto-color', '--auto-progress']

[test-robot]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export ROBOTSUITE_PREFIX=ONLYROBOT && ${buildout:directory}/bin/test -t ONLYROBOT --all
    # bin/coverage run --source=${buildout:directory}/src/collective/solr bin/test
output = ${buildout:directory}/bin/test-robot
mode = 755

[coverage]
recipe = zc.recipe.egg
eggs = coverage


[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/coverage run --source=${buildout:directory}/src/collective/solr bin/test
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 90%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src
flake8-max-complexity = 50
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg,skins
flake8-extensions =
#    flake8-coding
#    flake8-debugger
#    flake8-print


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs

[check-readme]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    python ${buildout:directory}/setup.py check -r -s
output = ${buildout:directory}/bin/check-readme
mode = 755
