[buildout]
extends = buildout/solr-1.3.cfg
versions = versions
unzip = true
develop = .

extensions = mr.developer
sources = sources
sources-dir = extras
auto-checkout =

[sources]
collective.indexing = svn https://svn.plone.org/svn/collective/collective.indexing/trunk

[versions]

[instance]
eggs += collective.solr
zcml += collective.solr
products =
