[versions]

# Buildout
setuptools =
zc.buildout =
collective.solr =

# Solr
kitconcept.recipe.solr = 1.0.0a1

# Code Analysis
coverage = 4.0.3
flake8 = 2.5.4
pep8 = 1.5.7
plone.recipe.codeanalysis = 2.0.2

# Release
zest.releaser = 6.12.2
twine = 1.9.1
# requests = 2.11.1

# Robot Framework
robotframework = 3.0
robotsuite = 1.7.0
robotframework-debuglibrary = 1.1.4
robotframework-selenium2library = 3.0.0
selenium = 3.4.0

# REST API
plone.restapi = 4.3.1
plone.rest = 1.4.0

Pillow = 6.0.0
