[versions]

# Buildout
setuptools = 38.7.0
zc.buildout = 2.12.2

# Code Analysis
coverage = 4.0.3
flake8 = 2.5.4
pep8 = 1.5.7
plone.recipe.codeanalysis = 2.0.2

# Release
zest.releaser = 6.12.2
twine = 1.9.1
# requests = 2.11.1

# Solr
collective.recipe.solrinstance = 6.0.0b3

# Robot Framework
robotframework = 3.0
robotsuite = 1.7.0
robotframework-selenium2library = 1.8.0
selenium = 2.53.6
plone.testing = 5.0

# REST API
plone.restapi = 1.0.0
plone.rest = 1.0.0
