/* styles related to solr integration */

#portal-searchfacets {
  background-color: #ddd;
  padding: 0.5em;
  min-width: 20%;
  float: right;
}

#portal-searchfacets h4 {
  font-weight: normal;
  margin: 0;
  border-bottom: 1px dotted grey;
}

#portal-searchfacets h5 {
  margin: 0;
  padding-top: 1em;
  clear: both;
}

#portal-searchfacets dl {
  margin-top: 0.2em;
}

#portal-searchfacets dt {
  font-weight: normal;
  font-size: 90%;
  float: left;
  clear: both;
}

#portal-searchfacets dd {
  font-size: 90%;
  float: left;
  line-height: normal;
  margin: 0 0 0 1em;
}

#portal-searchfacets ul {
  padding: 0.5em 0 0 0;
  margin: 0;
  list-style: none;
}

#portal-searchfacets ul li {
  margin: 0;
}

#portal-searchfacets ul li:before {
  content: "\00bb";
}

#portal-searchfacets ul li a {
  width: 1em;
  height: 1em;
  line-height: normal;
  display: inline-block;
  overflow: hidden;
}

#portal-searchfacets ul li a:before {
  content: "\2297";
}
