[buildout]
parts +=
    solr-download
    solr-instance


[versions]
collective.recipe.solrinstance = 3.6
gocept.download = 0.9.5


[solr-download]
recipe = gocept.download
strip-top-level-dir = true
url = http://mirrorservice.nomedia.no/apache.org/lucene/solr/3.5.0/apache-solr-3.5.0.tgz
md5sum = b7be2fc190b26377ced5ae6055ed43e2


[solr-instance]
recipe = collective.recipe.solrinstance
solr-location = ${solr-download:location}
host = localhost
port = 8983
basepath = /solr
maxWarmingSearchers = 1
# autoCommitMaxTime = 900000
default-search-field = default
default-operator = and
unique-key = UID
java_opts =
  -Dcom.sun.management.jmxremote
  -Djava.rmi.server.hostname=127.0.0.1
  -Dcom.sun.management.jmxremote.port=8984
  -Dcom.sun.management.jmxremote.ssl=false
  -Dcom.sun.management.jmxremote.authenticate=false
  -server
  -Xms128M
  -Xmx256M

index =
    name:allowedRolesAndUsers type:string stored:false multivalued:true
    name:created          type:date stored:true
    name:Creator          type:string stored:true
    name:Date             type:date stored:true
    name:default          type:text indexed:true stored:false multivalued:true
    name:Description      type:text copyfield:default stored:true
    name:effective        type:date stored:true
    name:exclude_from_nav type:boolean indexed:false stored:true
    name:expires          type:date stored:true
    name:getIcon          type:string indexed:false stored:true
    name:getId            type:string indexed:false stored:true
    name:getRemoteUrl     type:string indexed:false stored:true
    name:is_folderish     type:boolean stored:true
    name:Language         type:string stored:true
    name:modified         type:date stored:true
    name:object_provides  type:string stored:false multivalued:true
    name:path_depth       type:integer indexed:true stored:false
    name:path_parents     type:string indexed:true stored:false multivalued:true
    name:path_string      type:string indexed:false stored:true
    name:portal_type      type:string stored:true
    name:review_state     type:string stored:true
    name:SearchableText   type:text copyfield:default stored:false
    name:searchwords      type:string stored:false multivalued:true
    name:showinsearch     type:boolean stored:false
    name:Subject          type:string copyfield:default stored:true multivalued:true
    name:Title            type:text copyfield:default stored:true
    name:Type             type:string stored:true
    name:UID              type:string stored:true required:true
