name: collective.solr CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 2.7]
        plone-version: [5.2, 5.1, 4.3]
        solr-version: [7.7.2, 8.2.0]
        include:
          - python-version: 2.7
            plone-version: 4.3
            solr-version: 7.7.2
          - python-version: 2.7
            plone-version: 4.3
            solr-version: 8.2.0
          - python-version: 2.7
            plone-version: 5.1
            solr-version: 7.7.2
          - python-version: 2.7
            plone-version: 5.1
            solr-version: 8.2.0
          - python-version: 2.7
            plone-version: 5.2
            solr-version: 7.7.2
          - python-version: 2.7
            plone-version: 5.2
            solr-version: 8.2.0
          - python-version: 3.8
            plone-version: 5.2
            solr-version: 7.7.2
          - python-version: 3.8
            plone-version: 5.2
            solr-version: 8.2.0
        exclude:
          - python-version: 3.8
            plone-version: 5.1
            solr-version: 7.7.2
          - python-version: 3.8
            plone-version: 5.1
            solr-version: 8.2.0
          - python-version: 3.8
            plone-version: 4.3
            solr-version: 7.7.2
          - python-version: 3.8
            plone-version: 4.3
            solr-version: 8.2.0

    steps:

      # git checkout
      - uses: actions/checkout@v2

      # python setup
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      # python cache
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # python install
      - run: pip install virtualenv
      - run: pip install wheel
      - name: pip install
        run: pip install -r requirements.txt

      # run pocompile for translation tests
      - run: pip install zest.pocompile
      - run: pocompile src

      # choose Plone version
      - name: choose Plone version
        run: sed -ie "s#plone-x.x.x.cfg#plone-${{ matrix.plone-version }}.x.cfg#" ci.cfg

      # choose Solr version
      - run: sed -ie "s#solr/.\..\..#solr/${{ matrix.solr-version }}#" base.cfg
      - run: sed -ie "s#solr-.\..\..#solr-${{ matrix.solr-version }}#" base.cfg

      # buildout
      - name: buildout
        run: buildout -t 10 -c ci.cfg
        env:
          CI: true

      # test
      - name: test
        run: bin/test
